<html>
	<body>
		<h1>LOGIN HERE!</H1>
		<form method="post" action="/detailscheck">
			USER EMAIL ID: <input type="text" name="email"><br>
			PASSWORD : <input type="password" name="pass"></br>
			<button> LOGIN </button>
		</form>
	</body>
</html>